@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: url(../Imagens/background-gamestate.png);
    background-size: cover;
    /*padding-top: px;*/
    text-align: center;
    ;
}
header img{
    max-width: 130px;
}
nav{
    background-color: black;
    padding: 10px;

}
nav > a {
    color: #00FF6D;
    padding: 8px;
    text-decoration: none;
    margin: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
nav > a:hover{
    background-color: #00FF6D;  
    
    color: black;
    transition-duration: 0.5s;
}

body{
    background-color: #1A1B1D;
    background-image: url(Imagens/amar\ \(2\).png);
}

main{
    background-color: #ffffff;
    padding: 0px;
    margin: auto;
    min-width: 330px;
    max-width: 1500px;
}
.local{
    background-color: #00FF6D;
    color: black;
}


.title{
    background: url(../Imagens/ama.png);
    background-position: center;
    margin-top: 0px;
    height: 330px;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: monospace;
    transition: 1s;
}
.title:hover{
    background-position: top;
    transition: 1s;
}
.title:hover h1{
    color: #00FF6D;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.title:hover p{
    color: #00FF6D;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}


div > h1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 0px;
}
div > p{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0px 30px 0px 30px;
}

.flex img{
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
.flex div:hover{
    transform: scale(1.04);
    transition: 0.75s;
    border-radius: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    flex-direction: row; /* vou utilizar isso na pagina de podcast*/
    justify-content: center;
    
}
.flex > div{
    flex: 1 1 300px;
    margin: 20px;
    max-width: 300px;
    transition: 0.75s;
}
.title h1{
    transition: 1s;
    margin-bottom: 10px;
}
.title p{
    font-size: large;
    max-width: 500px;
    margin: 0 auto;   
    transition: 1s;
}
/*.descricao{
    padding: 20px;
    color: rgba(255, 255, 255, 0);
    text-align: justify;
    transition: 0.75s;
    font-size: large;
}
.flex div:hover .descricao{
    color: white;
    transition: 0.75s;
}
.zindex{
    position: relative;
    z-index: 10;
    margin-top: -190px !important;
}*/
.flex p{
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    font-family: monospace;
    font-size: xx-large;
    color: #ffffff;
    transition: 0.75s;
    padding: 10px;
}
.flex div:hover p{
    color: #00FF6D;
    transition: 0.75s;
}


.title2{
    background: url(../Imagens/ama.png);
    background-position: center;
    margin-top: 0px;
    height: 330px;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: monospace;
    transition: 1s;
}
.title2:hover{
    background-position: top;
    transition: 1s;
}
.title2:hover h1{
    color: #00FF6D;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.title2:hover p{
    color: #00FF6D;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}
.title2 h1{
    transition: 1s;
    margin-bottom: 10px;
}
.title2 p{
    font-size: large;
    max-width: 500px;
    margin: 0 auto;   
    transition: 1s;
}

footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}
footer p{
    color: aliceblue;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}
footer img{
    padding-bottom: 5px;
    max-width: 30px;
}
footer a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;  
}