@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

strong.laranja{
    color: #F28705;
}
strong.azul{
    color: rgb(77, 77, 255);
}

header{
    background-image: url(../Imagens/background-gamestate.png);
    background-size: cover;
    /*padding-top: px;*/
    text-align: center;
    ;
}
header img{
    max-width: 130px;
}
nav{
    background-color: black;
    padding: 10px;
}
nav > a {
    color: #F28705;
    padding: 8px;
    text-decoration: none;
    margin: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
nav > a:hover{
    background-color: #F28705;  
    
    color: black;
    transition-duration: 0.5s;
}
body{
    background-image: url(Imagens/amar\ \(1\).png);
}

main{
    background-color: #ffffff;
    
    margin: auto;
    min-width: 350px;
    max-width: 1500px;
}

.capa{
    background-image: url(sobre/imagens-sobre/imagemdacapagamestate.png);
    background-size: cover;
    background-position: center;
    height: 500px;

    margin: 0 auto;
    color: aliceblue;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    
    flex-direction: column;
    
    align-items: flex-end;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}
.capa p, h1{
    margin: 10px 50px;
    max-width: 700px;
}
.capa p{
    color: #ffffff;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}
.capa h1{
    font-size: xx-large;
}
.capa:hover{
    background-position: top;
}

.artigo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;  
    justify-content: center; 
}
.artigo > div{
    flex: 1 1 300px;
}
.artigo > a{
    text-decoration: none;
}
.blocoart{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    max-width: 400px;
    min-width: none;
    max-height: 420px;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}
.blocoart:hover{
    transform: scale(1.02);
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.blocoart:hover img{
    transform: scale(1.11) translateY(-5px);
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
}
.blocoart:hover h2{
    color: #F28705;
    transition: 0.3s;
}
.blocoart:hover p{
    color: #ffffff;
    transition: 0.3s;
}
.blocoart:hover span{
    color: #ffffff;
    transition: 0.3s;
}

.blocoart img{
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.blocoart h2, p, span{
    transition: 0.3s;
    margin: 5px;
    text-align: left;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.data{
    font-size: small;
}

.capa2{
    background-image: url(Imagens/amar\ \(6\).png);
    background-size: cover;
    background-position: center;
    height: 500px;

    margin: 0 auto;
    color: aliceblue;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    
    flex-direction: column;
    
    align-items: flex-start;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}
.capa2 p, h1{
    margin: 10px 50px;
    max-width: 700px;
}
.capa2 p{
    color: #ffffff;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.capa2 h1{
    font-size: xx-large;
}
.capa2:hover{
    background-position: bottom;
}

.player{
    display: flexbox;
    flex-wrap: nowrap;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #033159;
    transition: 1s;
    margin: 20px;
}
.player:hover{
    padding: 20px;
    border-radius: 10px;
    background-color: #034C8C;
    transform: scale(1.007);
    transition: 0.5s;
}
.alinhamento{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;  
    justify-content: center; 
    padding: 20px;
}

.capa3{
    background-image: url(Imagens/ama.png);
    background-size: cover;
    background-position: center;
    height: 500px;

    margin: 0 auto;
    color: aliceblue;
    text-align: right;
    display: flex;
    flex-wrap: nowrap;
    
    flex-direction: column;
    
    align-items: flex-end;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}
.capa3 p, h1{
    margin: 10px 50px;
    max-width: 700px;
}
.capa3 p{
    color: #ffffff;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}
.capa3 h1{
    font-size: xx-large;
}
.capa3:hover{
    background-position: top;
}
.flex img{
    max-width: 100%;
    display: block;
    border-radius: 10px 10px 0px 0px;
}
.flex div:hover{
    transform: scale(1.04);
    transition: 0.75s;
    border-radius: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    flex-direction: row; /* vou utilizar isso na pagina de podcast*/
    justify-content: center;
    
}
.flex > div{
    flex: 1 1 300px;
    margin: 20px;
    max-width: 300px;
    transition: 0.75s;
}
.flex p{
    text-align: center;
    margin: 0px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;
    font-family: monospace;
    font-size: xx-large;
    color: #ffffff;
    transition: 0.75s;
    padding: 10px;
}
.flex div:hover p{
    color: #00FF6D;
    transition: 0.75s;
}

/*TESTANDO DE NOVO*/


    /*NOTICIAS E PODCAST*/


    /*JOGOS EM DESTAQUE*/

    footer{
        background-color: black;
        text-align: center;
        padding: 10px;
    }
    footer p{
        color: aliceblue;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
    }
    footer img{
        padding-bottom: 5px;
        max-width: 30px;
    }
    footer a{
        color: aliceblue;
        text-decoration: none;
        font-weight: 400;  
    }