@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F28705;
    background-image: url(../Imagens/amar\ \(1\).png);
    
}

header{
    background-image: url(../Imagens/background-gamestate.png);
    background-size: cover;
    /*padding-top: px;*/
    text-align: center;
    
}
header img{
    max-width: 130px;
}
nav{
    background-color: black;
    padding: 10px;
}
nav > a {
    color: #F28705;
    padding: 8px;
    text-decoration: none;
    margin: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
nav > a:hover{
    background-color: #F28705;  
    
    color: black;
    transition-duration: 0.5s;
}
.local{
    background-color: #F28705;
    color: black;
    transition-duration: 0.5s;
}



main{
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    min-width: 290px;
    max-width: 1500px;
}

.artigo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;  
    justify-content: center; 
}
.artigo > div{
    flex: 1 1 300px;
}
.artigo > a{
    text-decoration: none;
}
.blocoart{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    max-width: 400px;
    min-width: none;
    max-height: 420px;
    align-items: center;
    overflow: hidden;
    transition: 0.3s;
}
.blocoart:hover{
    transform: scale(1.02);
    transition: 0.3s;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.blocoart:hover img{
    transform: scale(1.11) translateY(-5px);
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
}
.blocoart:hover h2{
    color: #F28705;
    transition: 0.3s;
}
.blocoart:hover p{
    color: #ffffff;
    transition: 0.3s;
}
.blocoart:hover span{
    color: #ffffff;
    transition: 0.3s;
}

.blocoart img{
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}
.blocoart h2, p, span{
    transition: 0.3s;
    margin: 5px;
    text-align: left;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.data{
    font-size: small;
}

main > footer{
    text-align: center;
}
.footerr{
    /*position: absolute;*/
    background-color: black;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}
.footerr p{
    color: aliceblue;
    text-align: center;
}
.footerr  img{
    padding-bottom: 5px;
    max-width: 30px;
}
.footerr a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 400; 
}