@charset "UTF-8";

    /*CONTEUDO DO FUNDO*/

body{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/11/08/37/universe-2303321_960_720.jpg);
    margin: 0px;
    padding: 0px;
}

    /*CONTEUDO DA RODAPÉ*/
header{

}
header > img{
    background-color: blue;
    height: 100px; 
    display: ;
}
nav{
    display: flex;
    text-decoration: none;
}

    /*CONTEUDO DA ABA PRINCIPAL*/

main{
    background-color: aliceblue;
    border-radius: 3px;
    margin: 0px 50px;
    padding: 10px;
}

    /*CONTEUDO DO RODAPÉ*/

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 0px;
    padding: 10px;
}